/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 1280px;
}

header {
  background: #000000 0% 0% no-repeat padding-box;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  font-size: 50px;
  font-weight: 500;
  font-family: Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.fotoprincipal img {
  display: block;
  /*width: 1280px;
  height: 727px;
  Por alguna razón, si no fijo el tamaño de la imagen al div,
  me deja una franja blanca entre la parte inferior de la imagen y el
  borde inferior del div. En inspección, la imagen tendría unas dimensiones 
  de 1280x727px pero el div tendría dimensiones de 1280x731px. Son 4px más
  por abajo de la imagen que no sé de dónde salen*/
  /* EDIT: busqué en google lo de los 4px y encontré éste enlace:
  https://gaurav5430.medium.com/extra-4px-at-the-bottom-of-html-img-8807a7ab0ca2 
  corregido con "display: block;*/
}

.parrafo_imagen {
  display: flex;
  /*height: 348px;
  Si no especifico la altura del div parrafo_imagen a 348px como en la maqueta,
  la suma de los márgenes superior e inferior de los div hijos
  más su contenido que en realidad suman 348 (76+197+75) y (45+237+53), en inspección web,
  por alguna razón el div parrafo_imagen tiene una altura de 352px.
  De nuevo 4px que no sé de dónde aparecen */
  /* EDIT: corregido también en parrafo_imagen img con "display: block;*/
  background: #000000 0% 0% no-repeat padding-box;
}

.parrafos {
  width: 475px;
  height: 197px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 76px 53px 75px 150px;
  text-align: left;
  font: normal normal 300 16px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.parrafo_imagen img {
  width: 399px;
  height: 237px;
  display: block;
  margin: 45px 150px 66px 53px;
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #1e1a13 0% 0% no-repeat padding-box;
  height: 348px;
  color: white;
  font-family: Raleway;
}

.caracteristicas h1 {
  font: normal normal 500 40px/47px Raleway;

  margin-top: 75px;
  /* Inspector de web me indica "valor de propiedad inválido" si pongo peso "medium"
  en vez de 500*/
}

.caracteristicas_internas {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1280px;
  margin-bottom: 74px;
}

.icono1 i {
  margin-bottom: 16.36px;
}

.iconocentro {
  margin-left: 182px;
  margin-right: 145.88px;
}

.iconocentro i {
  margin-bottom: 16.2px;
}

.icono3 i {
  margin-bottom: 16px;
}

.texto1 {
  font: normal normal 300 24px/29px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.texto2 {
  font: normal normal 300 25px/30px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 348px;
  gap: 16px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.96;
}

.galeria img {
  display: block;
  width: 316px;
  height: 202px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  background: #1e1a13 0% 0% no-repeat padding-box;
  opacity: 0.94;
}

footer p {
  font: normal normal 300 20px/24px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
}

footer a {
  color: white;
  text-decoration: none;
}
